<div id="main-content">
    <div id="title">
        <h1 style="letter-spacing: 2px; text-transform: uppercase; text-align: center;">About Us</h1>
    </div>
    <br>
    <br>
    <br>
    <div id="decription">
        <h3 style="text-align: center;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel esse, sint rerum vero laboriosam aspernatur enim mollitia illum pariatur consectetur sunt dolor molestias voluptatibus quae nulla exercitationem voluptatum cupiditate voluptate.
        </h2>
    </div>
</div>

<form action="">
    <textarea name="ff" id="ff" cols="30" rows="10"></textarea>
    <button type="submit">fe</button>
</form>