<h3 class="heading-banner"><b>Create an account</b></h3>
<div class="register_form">


<% if(production != "production") { %> 

  <form action="http://localhost:3000/userSystems/register" id="registerForm">
    <input type="text" name="username" required="true" placeholder="Username" id="username" class="text_field">
    <br>
    <br>
    <input type="password" name="password" required="true" placeholder="Password" id="password" class="text_field">
    <br>
    <br>
    <div id="captcha" class="g-recpatcha" data-sitekey="6Lfr-rkaAAAAAN8gk3uagodvQfTXRMSzv4H7rWAB"></div>
    <br>
    <br>
    <br>
    <button type="submit" id="submit-btn">Sign Up</button>
  </form>
  <br>
  <br>
  <p>Already Have An Account? Login<a href="http://localhost:3000/userSystems/login" style="text-decoration: none;"> Here</a>!</p>
<% } else { %>
  <form action="https://anskep.herokuapp.com/userSystems/register" id="registerForm">
      <input type="text" name="username" required="true" placeholder="Username" id="username" class="text_field">
      <br>
      <br>
      <input type="password" name="password" required="true" placeholder="Password" id="password" class="text_field">
      <br>
      <br>
      <div id="captcha" class="g-recpatcha" data-sitekey="6Lfr-rkaAAAAAN8gk3uagodvQfTXRMSzv4H7rWAB"></div>
      <br>
      <br>
      <br>
      <button type="submit" id="submit-btn">Sign Up</button>
  </form>
  <br>
  <br>
  <p>Already Have An Account? Login<a href="https://anskep.herokuapp.com/userSystems/login" style="text-decoration: none;"> Here</a>!</p>
<% } %>
</div>
  
<script src="/js/submitForm.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaOnloadCallback&render=explicit" async defer></script>

